body {
	font-family: verdana;
	color: black;
	font-size: 16px;
	background-color: powderblue;
}

table, th, td {
    height: 35px;
    width: 75%;
    background-color: yellow;
    font-size: 17px;
}

#Home {
    font-family: verdana;
    color: red;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    
}

#ABout {
    font-family: verdana;
    color: red;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

#Home:hover {
    text-decoration: underline;
}

#ABout:hover {
    text-decoration: underline;
}

#question {
   width: 90%;
   height: 30px; 
   background-color: yellow;
   font-family: verdana;
}

#answer {
   width: 90%;
   height: 30px; 
   background-color: yellow;
   font-family: verdana;
}

.spacing {
    padding: 20px 20px 20px 20px;
}

.width {
    width: 300px
}
    
